.rectangle-beige-footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--beige);
  width: 1441px;
  height: 140px;
}
.mentions-lgales1 {
  text-decoration: underline;
}
.mentions-lgales {
  color: inherit;
}
.copy-right-mentions-container {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 181.5px);
  font-weight: 600;
  display: inline-block;
  width: 328px;
}
.footer-beige {
  position: absolute;
  top: 823px;
  left: 1px;
  width: 1441px;
  height: 140px;
  color: var(--color-black);
}
.rectangle-bleu-background-foot {
  position: absolute;
  top: 0;
  left: calc(50% - 721px);
  background-color: var(--blue);
  width: 1440px;
  height: 823px;
}
.icnes-rseaux-footer,
.logo-footer-icon {
  position: absolute;
  right: 160px;
  bottom: 121px;
  width: 409px;
  height: 388px;
  object-fit: cover;
}
.icnes-rseaux-footer {
  height: 46.11%;
  width: 59.01%;
  top: 53.89%;
  right: 23.8%;
  bottom: 0;
  left: 17.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.suivez-nous {
  position: absolute;
  top: 0;
  right: 0;
}
.rseaux-sociaux-footer {
  position: absolute;
  height: 12.95%;
  width: 13.31%;
  top: 40.71%;
  right: 17.13%;
  bottom: 46.34%;
  left: 69.56%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-belleza);
}
.icne-mail-icon {
  position: absolute;
  height: 94.28%;
  width: 9.31%;
  top: 5.42%;
  right: 90.69%;
  bottom: 0.3%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.debraholtexamplecom {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  display: inline-block;
  width: 304.5px;
  height: 18px;
}
.mail,
.numro {
  position: absolute;
}
.mail {
  height: 18.22%;
  width: 100%;
  top: 81.78%;
  right: 0;
  bottom: 0;
  left: 0;
}
.numro {
  top: 79px;
  right: 46.4px;
  font-weight: 600;
  display: inline-block;
  width: 222.6px;
  height: 3.2px;
}
.contactez-nous {
  position: absolute;
  top: 0;
  right: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-belleza);
}
.contact-footer {
  position: absolute;
  height: 18.92%;
  width: 23.84%;
  top: 16.41%;
  right: 11.93%;
  bottom: 64.67%;
  left: 64.23%;
  font-size: var(--font-size-5xl);
}
.image-2-port-vauban {
  position: absolute;
  top: 98px;
  left: 222px;
  width: 511px;
  height: 608px;
  object-fit: cover;
}
.section-8-footer {
  position: absolute;
  top: 6373px;
  left: 0;
  width: 1442px;
  height: 963px;
  font-size: 18px;
  font-family: var(--font-open-sans);
}
.rectangle-noire-bouton-envoyer {
  position: absolute;
  top: calc(50% - 28px);
  right: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  width: 269px;
  height: 56px;
}
.envoyer {
  position: absolute;
  top: calc(50% - 13px);
  right: 86px;
}
.bouton-envoyer-formulaire-con {
  position: absolute;
  top: calc(50% + 192.5px);
  right: 281px;
  width: 269px;
  height: 56px;
  font-size: 22px;
  color: var(--color-white);
  font-family: var(--font-belleza);
}
.rectangle-gris-case-message {
  position: absolute;
  top: calc(50% - 98px);
  right: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
  width: 550px;
  height: 196px;
}
.message {
  position: absolute;
  top: calc(50% - 82px);
  right: 462.7px;
  font-weight: 300;
  display: inline-block;
  width: 71.8px;
  height: 19px;
}
.case-message {
  position: absolute;
  top: calc(50% - 31.5px);
  right: 0;
  width: 550px;
  height: 196px;
}
.rectangle-gris-case-mail {
  position: absolute;
  top: calc(50% - 28px);
  right: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
  width: 265px;
  height: 56px;
}
.email {
  position: absolute;
  top: calc(50% - 10px);
  right: 204.8px;
  font-weight: 300;
  display: inline-block;
  width: 46.6px;
  height: 19px;
}
.case-email,
.numro1 {
  position: absolute;
  top: calc(50% - 107.5px);
  right: 0;
  width: 265px;
  height: 56px;
}
.numro1 {
  top: calc(50% - 10px);
  right: 182.5px;
  font-weight: 300;
  display: inline-block;
  width: 67px;
  height: 19px;
}
.case-numro,
.prenom {
  position: absolute;
  top: calc(50% - 107.5px);
  right: 285px;
  width: 265px;
  height: 56px;
}
.prenom {
  top: calc(50% - 7px);
  right: 185.4px;
  font-weight: 300;
  display: inline-block;
  width: 66px;
  height: 19px;
}
.case-prnom {
  top: calc(50% - 183.5px);
  right: 0;
  width: 265px;
  height: 56px;
}
.case-nom,
.case-prnom,
.nom {
  position: absolute;
}
.nom {
  top: calc(50% - 7px);
  right: 211.6px;
  font-weight: 300;
  display: inline-block;
  width: 37.9px;
  height: 19px;
}
.case-nom {
  top: calc(50% - 183.5px);
  right: 285px;
  width: 265px;
  height: 56px;
}
.nous-contacter {
  position: absolute;
  top: calc(50% - 248.5px);
  right: 309px;
  font-size: 39px;
  font-family: var(--font-belleza);
  display: inline-block;
  width: 241px;
}
.formulaire-de-contact {
  position: absolute;
  top: calc(50% - 169.5px);
  right: 0;
  width: 550px;
  height: 497px;
}
.image-port-formulaire-de-cont {
  position: absolute;
  top: calc(50% - 169.5px);
  left: 0;
  width: 552px;
  height: 497px;
  object-fit: cover;
}
.contact {
  position: absolute;
  top: 0;
  left: calc(50% - 161.5px);
  font-size: var(--font-size-36xl);
  font-family: var(--font-belleza);
  color: var(--beige);
}
.section-7 {
  position: absolute;
  top: 5566px;
  left: 162px;
  width: 1120px;
  height: 655px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.rectangle-bleu-background-info {
  position: absolute;
  top: 0;
  left: calc(50% - 720.5px);
  background-color: var(--blue);
  width: 1441px;
  height: 1104px;
}
.image-plan-port-vauban {
  position: absolute;
  top: 529px;
  left: 364px;
  width: 697px;
  height: 536px;
  object-fit: cover;
}
.icne-tlchargement-4 {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 25px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.rglementation-portuaire {
  position: absolute;
  margin: 0 !important;
  top: 8px;
  left: 18px;
  display: inline-block;
  width: 309px;
  height: 26px;
  flex-shrink: 0;
  z-index: 0;
}
.rectangle-bleu-claire-4 {
  position: relative;
  border-radius: var(--br-4xl);
  width: 550px;
  height: 41px;
  object-fit: cover;
  z-index: 1;
}
.texte-rectangle-4 {
  position: absolute;
  top: calc(50% - 20.5px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rctangle-les-tarifs-pig,
.rctangle-plan-mouillage,
.rctangle-rglementation-portu {
  position: absolute;
  top: calc(50% + 81.5px);
  right: 1px;
  width: 550px;
  height: 41px;
}
.rctangle-les-tarifs-pig,
.rctangle-plan-mouillage {
  top: calc(50% + 10.5px);
}
.rctangle-plan-mouillage {
  top: calc(50% - 54.5px);
}
.icne-tlchargement-1 {
  position: absolute;
  top: 8px;
  right: 25px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.texte-rectangle-1 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle-tlchargement-plan {
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  height: 41px;
}
.rectangles-tlchargement-inf {
  position: absolute;
  top: calc(50% - 348px);
  right: 64px;
  width: 551px;
  height: 245px;
}
.arrive-de-jour {
  margin: 0;
}
.arrive-de-jour-container {
  position: absolute;
  top: calc(50% - 327px);
  left: 56px;
  display: inline-block;
  width: 541px;
  height: 203px;
}
.infos-pratiques {
  position: absolute;
  top: 60px;
  left: calc(50% - 220.5px);
  font-size: var(--font-size-36xl);
  color: var(--beige);
}
.section-6 {
  position: absolute;
  top: 4367px;
  left: 1px;
  width: 1441px;
  height: 1104px;
  font-size: var(--font-size-4xl);
}
.rectangle-nuance-sur-ipad,
.rectangle-nuances-orange-ros {
  position: absolute;
  border: 1px solid var(--beige);
  box-sizing: border-box;
}
.rectangle-nuances-orange-ros {
  top: 165px;
  left: 1405px;
  background: linear-gradient(180deg, #ee9d37, rgba(182, 107, 228, 0.94));
  width: 33px;
  height: 195px;
}
.rectangle-nuance-sur-ipad {
  top: 153px;
  left: calc(50% - 154px);
  background: linear-gradient(
    178.32deg,
    #c8ebff 10.42%,
    #a98271 45.31%,
    rgba(30, 65, 68, 0.86)
  );
  width: 308px;
  height: 222px;
}
.rectangle-nuance-bleu-haune {
  top: 166px;
  left: 1139px;
  background: linear-gradient(
    180deg,
    #4fa0ff,
    rgba(158, 145, 112, 0.85) 63.54%,
    #2a387d
  );
  width: 266px;
}
.rectangle-nuance-bleu-haune,
.rectangle-nuances-rose,
.rectangle-nuances-rouge {
  position: absolute;
  border: 1px solid var(--beige);
  box-sizing: border-box;
  height: 195px;
}
.rectangle-nuances-rouge {
  top: 166px;
  left: 873px;
  background: linear-gradient(180deg, #f06e36, rgba(29, 26, 58, 0.94));
  width: 266px;
}
.rectangle-nuances-rose {
  top: 163px;
  left: 294px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #866e75 0deg,
    #d1c8e2 360deg
  );
  width: 271px;
}
.icne-360-icon,
.ipad-mains {
  position: absolute;
  top: 274px;
  left: calc(50% - 89px);
  width: 179px;
  height: 101px;
  object-fit: cover;
}
.ipad-mains {
  top: 137px;
  left: calc(50% - 261px);
  width: 546px;
  height: 367px;
}
.rectangle-bleu,
.rectangle-nuances-bleu-claire {
  position: absolute;
  top: 163px;
  border: 1px solid var(--beige);
  box-sizing: border-box;
  height: 195px;
}
.rectangle-nuances-bleu-claire {
  left: 23px;
  background: linear-gradient(180deg, #8be9e4, rgba(52, 104, 126, 0.83));
  width: 271px;
}
.rectangle-bleu {
  left: 0;
  background: linear-gradient(180deg, #4d66e6, #2e445e);
  width: 23px;
}
.visite-virtuelle-du {
  position: absolute;
  top: 0;
  left: calc(50% - 251px);
}
.section-5 {
  position: absolute;
  top: 3865px;
  left: 3px;
  width: 1438px;
  height: 504px;
  font-size: var(--font-size-38xl);
  color: var(--color-black);
}
.section-4-child {
  position: absolute;
  top: 292px;
  left: 0;
  background-color: var(--color-black);
  width: 1120px;
  height: 360px;
}
.frame-icon,
.frame-icon1 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.frame-icon {
  top: 0;
  left: calc(50% - 146px);
  width: 149px;
  height: 149px;
}
.frame-icon1 {
  height: 83.69%;
  width: 46.58%;
  top: 8.72%;
  right: 0;
  bottom: 7.58%;
  left: 53.42%;
  max-width: 100%;
  max-height: 100%;
}
.frame-parent {
  position: absolute;
  top: 397px;
  left: calc(50% - 146px);
  width: 292px;
  height: 149px;
}
.sous-le-ciel {
  position: absolute;
  top: calc(50% - 228px);
  left: calc(50% - 560px);
  display: inline-block;
  width: 1120px;
  height: 124px;
}
.un-cadre-exceptionnel {
  position: absolute;
  top: 0;
  left: calc(50% - 254px);
  font-size: var(--font-size-38xl);
  text-align: left;
}
.section-4 {
  position: absolute;
  top: 3109px;
  left: 162px;
  width: 1120px;
  height: 652px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.flche-droite-de-dfilement,
.points-de-dfilement {
  position: absolute;
  bottom: 0;
  left: calc(50% - 45px);
  width: 91px;
  height: 91px;
  overflow: hidden;
  object-fit: cover;
}
.flche-droite-de-dfilement {
  bottom: 198px;
  left: calc(50% + 492px);
  width: 69px;
  height: 69px;
}
.flche-gauche-de-dfilement,
.image-actualit-1,
.image-actualit-2 {
  position: absolute;
  bottom: 91px;
  left: calc(50% + 10px);
  width: 455px;
  height: 282px;
  object-fit: cover;
}
.flche-gauche-de-dfilement,
.image-actualit-1 {
  left: calc(50% - 465px);
}
.flche-gauche-de-dfilement {
  bottom: 198px;
  left: calc(50% - 561px);
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.actualits {
  position: absolute;
  top: 0;
  left: calc(50% - 141px);
}
.section-3 {
  position: absolute;
  top: 1751px;
  left: 149px;
  width: 1122px;
  height: 531px;
  font-size: var(--font-size-36xl);
  color: var(--beige);
}
.section-2-child {
  position: absolute;
  top: 0;
  left: calc(50% - 720.5px);
  background-color: var(--blue);
  width: 1441px;
  height: 591px;
}
.alliant-patrimoine-et-container,
.le-port-un-sanctuaire {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 550px;
}
.alliant-patrimoine-et-container {
  bottom: 0;
  height: 366px;
}
.le-port-un-sanctuaire {
  bottom: 374px;
  font-size: var(--font-size-16xl);
  color: var(--beige);
}
.alliant-patrimoine-et-modernit-parent {
  position: absolute;
  right: 131px;
  bottom: 61px;
  width: 550px;
  height: 454px;
}
.section-2-item {
  position: absolute;
  height: calc(100% - 137px);
  width: 38.17%;
  top: 76px;
  right: 56.56%;
  bottom: 61px;
  left: 5.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.section-2 {
  position: absolute;
  top: 1031px;
  left: -1px;
  width: 1441px;
  height: 591px;
  font-size: var(--font-size-5xl);
}
.image-port-vauban-backgroud-h {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.01);
}
.wrapper-image-port-vauban-back {
  position: absolute;
  top: calc(50% - 417.4px);
  left: calc(50% - 777px);
  width: 1492px;
  height: 764px;
  mix-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  position: absolute;
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  left: 0;
  background-color: var(--color-black);
  backdrop-filter: blur(4px);
  height: 811.6px;
  opacity: 0.2;
}
.group-child {
  position: absolute;
  height: calc(100% - 51.8px);
  top: 0;
  bottom: 51.8px;
  left: calc(50% - 68px);
  border-radius: 50%;
  background-color: var(--light-blue);
  width: 136px;
}
.frame-icon2 {
  position: absolute;
  height: calc(100% - 103.7px);
  top: 21.9px;
  bottom: 81.8px;
  left: calc(50% - 42px);
  max-height: 100%;
  width: 84px;
  overflow: hidden;
  object-fit: cover;
}
.evnements {
  position: absolute;
  height: calc(100% - 164.5px);
  top: 164.5px;
  left: calc(50% - 51px);
  display: inline-block;
  width: 116px;
}
.ellipse-parent,
.group-item {
  position: absolute;
  top: 0;
  width: 136px;
}
.ellipse-parent {
  height: 100%;
  bottom: 0;
  left: calc(50% + 264px);
}
.group-item {
  height: calc(100% - 51.8px);
  bottom: 51.8px;
  left: calc(50% - 68px);
  border-radius: 50%;
  background-color: var(--red);
}
.vector-icon {
  position: absolute;
  height: 35.27%;
  width: 66.18%;
  top: 18.57%;
  right: 16.91%;
  bottom: 46.16%;
  left: 16.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.le-port-live {
  position: absolute;
  height: calc(100% - 164.5px);
  top: 164.5px;
  left: calc(50% - 50px);
  display: inline-block;
  width: 103px;
}
.ellipse-group,
.group-inner {
  position: absolute;
  top: 0;
  width: 136px;
}
.ellipse-group {
  height: 100%;
  bottom: 0;
  left: calc(50% + 48px);
}
.group-inner {
  height: calc(100% - 51.8px);
  bottom: 51.8px;
  left: calc(50% - 68px);
  border-radius: 50%;
  background-color: var(--orange);
}
.vector-icon1 {
  position: absolute;
  height: 34.9%;
  width: 69.12%;
  top: 21.5%;
  right: 15.44%;
  bottom: 43.6%;
  left: 15.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.services {
  position: absolute;
  height: calc(100% - 164.5px);
  top: 164.5px;
  left: calc(50% - 38px);
  display: inline-block;
  width: 82px;
}
.ellipse-container,
.ellipse-div {
  position: absolute;
  top: 0;
  width: 136px;
}
.ellipse-container {
  height: 100%;
  bottom: 0;
  left: calc(50% - 168px);
}
.ellipse-div {
  height: calc(100% - 51.8px);
  bottom: 51.8px;
  left: calc(50% - 73.5px);
  border-radius: 50%;
  background-color: var(--basic-blue);
}
.frame-icon3 {
  position: absolute;
  height: calc(100% - 97.7px);
  top: 22.9px;
  bottom: 74.8px;
  left: calc(50% - 50.5px);
  max-height: 100%;
  width: 90px;
  overflow: hidden;
  object-fit: cover;
}
.reserver-une-place {
  position: absolute;
  height: calc(100% - 164.5px);
  top: 164.5px;
  left: calc(50% - 89.5px);
  display: inline-block;
  width: 179px;
}
.group-div,
.more {
  position: absolute;
  bottom: 0;
}
.group-div {
  height: 100%;
  top: 0;
  left: calc(50% - 400px);
  width: 179px;
}
.more {
  height: calc(100% - 743.8px);
  top: 743.8px;
  left: calc(50% - 412px);
  width: 800px;
  color: var(--color-black);
}
.effet-oppacit {
  position: absolute;
  top: 46.2px;
  left: 0;
  background: linear-gradient(180deg, #155680, rgba(21, 86, 128, 0));
  width: 1439px;
  height: 765px;
}
.bienvenue-au {
  position: relative;
}
.port-vauban-dantibes {
  position: relative;
  font-size: 69px;
}
.capitale-mditerranenne-du {
  position: relative;
  font-size: var(--font-size-21xl);
}
.content,
.content-wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 813px;
  height: 204.4px;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.content-wrapper {
  position: absolute;
  top: 345.2px;
  left: calc(50% - 421px);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-16xl);
  font-family: var(--font-belleza);
}
.logo-2-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 318px;
  object-fit: cover;
}
.glyph-icon {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.fr-wrapper,
.glyph-wrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-gray);
  overflow: hidden;
  display: flex;
}
.glyph-wrapper {
  width: 181px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.fr-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 5px;
}
.icons-user {
  position: relative;
  width: 27px;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons-user-wrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xs);
}
.frame-group,
.icons-user-wrapper,
.le-port-parent,
.menu-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-shrink: 0;
  flex-direction: row;
  gap: 15px;
}
.le-port-parent,
.menu-inner {
  position: absolute;
}
.menu-inner {
  top: 131px;
  right: 0;
  flex-direction: column;
  padding: var(--padding-3xs);
}
.le-port-parent {
  top: 226px;
  left: calc(50% - 336px);
  flex-direction: row;
  gap: 41px;
  font-family: var(--font-belleza);
}
.menu {
  position: absolute;
  top: 5.2px;
  left: 61px;
  width: 1300px;
  height: 318px;
  font-size: var(--font-size-xl);
}
.section-1-header {
  position: absolute;
  top: -48.2px;
  left: -1px;
  width: 1440px;
  height: 931.2px;
  font-size: var(--font-size-lgi);
  font-family: var(--font-inter);
}
.desktop-1-child {
  position: absolute;
  top: 2400px;
  left: calc(50% - 720.5px);
  background-color: #1b718a;
  width: 1443px;
  height: 591px;
}
.mdia1 {
  position: absolute;
  top: 2450px;
  left: calc(50% - 82.5px);
  font-size: var(--font-size-36xl);
  color: var(--beige);
}
.desktop-1-child1,
.desktop-1-inner,
.desktop-1-item,
.rectangle-icon {
  position: absolute;
  top: calc(50% - 1102px);
  left: 160px;
  width: 265px;
  height: 259px;
  object-fit: cover;
}
.desktop-1-child1,
.desktop-1-inner,
.rectangle-icon {
  left: 445px;
}
.desktop-1-child1,
.rectangle-icon {
  left: 730px;
}
.desktop-1-child1 {
  left: 1015px;
}
.frame-child {
  position: relative;
  border-radius: 9px;
  width: 111px;
  height: 96px;
  object-fit: cover;
  z-index: 0;
}
.frame-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 48px;
  left: 43px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.polygon-parent {
  position: absolute;
  top: 2943px;
  left: 664px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.voir-le-post,
.voir-le-post1,
.voir-le-post2,
.voir-le-post3 {
  position: absolute;
  top: 2851px;
  left: 163px;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  width: 252px;
  height: 48px;
}
.voir-le-post1,
.voir-le-post2,
.voir-le-post3 {
  left: 452px;
}
.voir-le-post2,
.voir-le-post3 {
  left: 1022px;
}
.voir-le-post3 {
  left: 737px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7336px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-belleza);
}
