.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1439px;
	height:7336px;
	position:absolute;
}.e97_19 { 
	width:1442px;
	height:963px;
	position:absolute;
	left:0px;
	top:6373px;
}.e34_149 { 
	width:1441px;
	height:140px;
	position:absolute;
	left:1px;
	top:823px;
}.e1_15 { 
	background-color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:1441px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_143 { 
	transform: rotate(3.508352906597181e-15deg);
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:25px;
	position:absolute;
	left:539px;
	top:57px;
	font-family:Open Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_14 { 
	background-color:rgba(21.000000648200512, 86.00000247359276, 128.0000075697899, 1);
	width:1440px;
	height:823px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_109 { 
	width:409px;
	height:388px;
	position:absolute;
	left:873px;
	top:454px;
	background-image:url(images/logo_footer.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e28_8 { 
	width:192px;
	height:124.71876525878906px;
	position:absolute;
	left:1003px;
	top:392px;
}.e24_129 { 
	width:113.3333511352539px;
	height:57.5000114440918px;
	position:absolute;
	left:33.03703689575195px;
	top:67.21875px;
}.e24_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:50.37036895751953px;
	height:49.999961853027344px;
	position:absolute;
	left:0px;
	top:4.99964714050293px;
}.e24_128 { 
	background-color:rgba(255, 255, 255, 1);
	width:27.70370101928711px;
	height:57.5000114440918px;
	position:absolute;
	left:85.62965393066406px;
	top:0px;
}.e24_123 { 
	transform: rotate(3.508352906597181e-15deg);
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e97_17 { 
	width:343.8021545410156px;
	height:182.1666717529297px;
	position:absolute;
	left:926.1978149414062px;
	top:158px;
}.e28_6 { 
	width:343.8021545410156px;
	height:33.16666793823242px;
	position:absolute;
	left:0px;
	top:149px;
}.e24_116 { 
	background-color:rgba(255, 255, 255, 1);
	width:31.978429794311523px;
	height:31.33333396911621px;
	position:absolute;
	left:0px;
	top:1.8333334922790527px;
}.e24_117 { 
	color:rgba(255, 255, 255, 1);
	width:304.5435485839844px;
	height:18px;
	position:absolute;
	left:39.25862121582031px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e97_15 { 
	color:rgba(255, 255, 255, 1);
	width:222.57131958007812px;
	height:3.157949686050415px;
	position:absolute;
	left:74.80215454101562px;
	top:79px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e24_122 { 
	transform: rotate(3.508352906597181e-15deg);
	color:rgba(255, 255, 255, 1);
	width:250px;
	height:46px;
	position:absolute;
	left:47.80215835571289px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e33_21 { 
	width:511px;
	height:608px;
	position:absolute;
	left:222px;
	top:98px;
	background-image:url(images/image_2_port_vauban.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_12 { 
	width:1120px;
	height:655px;
	position:absolute;
	left:162px;
	top:5566px;
}.e34_140 { 
	width:550px;
	height:497px;
	position:absolute;
	left:570px;
	top:158px;
}.e97_11 { 
	width:269px;
	height:56px;
	position:absolute;
	left:0px;
	top:441px;
}.e29_129 { 
	background-color:rgba(0, 0, 0, 1);
	width:269px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e29_128 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:25px;
	position:absolute;
	left:87px;
	top:15px;
	font-family:Belleza;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e34_136 { 
	width:550px;
	height:196px;
	position:absolute;
	left:0px;
	top:217px;
}.e25_137 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:550px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e25_142 { 
	transform: rotate(3.508352906597181e-15deg);
	color:rgba(0, 0, 0, 1);
	width:71.78130340576172px;
	height:19px;
	position:absolute;
	left:15.520281791687012px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e34_135 { 
	width:265px;
	height:56px;
	position:absolute;
	left:285px;
	top:141px;
}.e25_136 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e25_141 { 
	transform: rotate(3.5059013119380496e-15deg);
	color:rgba(0, 0, 0, 1);
	width:46.593406677246094px;
	height:19px;
	position:absolute;
	left:13.589743614196777px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e34_133 { 
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:141px;
}.e25_135 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e25_140 { 
	transform: rotate(3.5059013119380496e-15deg);
	color:rgba(0, 0, 0, 1);
	width:66.97802734375px;
	height:19px;
	position:absolute;
	left:15.531134605407715px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e34_134 { 
	width:265px;
	height:56px;
	position:absolute;
	left:285px;
	top:65px;
}.e25_134 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e25_139 { 
	transform: rotate(3.5059013119380496e-15deg);
	color:rgba(0, 0, 0, 1);
	width:66.00732421875px;
	height:19px;
	position:absolute;
	left:13.589743614196777px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e34_132 { 
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:65px;
}.e25_133 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:265px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e25_138 { 
	transform: rotate(3.5059013119380496e-15deg);
	color:rgba(0, 0, 0, 1);
	width:37.85714340209961px;
	height:19px;
	position:absolute;
	left:15.531134605407715px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e25_132 { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:39px;
	letter-spacing:0;
}.e29_131 { 
	width:552px;
	height:497px;
	position:absolute;
	left:0px;
	top:158px;
	background-image:url(images/image_port__formulaire_de_contact_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_112 { 
	color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:237px;
	height:63px;
	position:absolute;
	left:398.5px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}.e97_10 { 
	width:1441px;
	height:1104px;
	position:absolute;
	left:1px;
	top:4367px;
}.e26_3 { 
	background-color:rgba(21.000000648200512, 86.00000247359276, 128.0000075697899, 1);
	width:1441px;
	height:1104px;
	position:absolute;
	left:0px;
	top:0px;
}.e29_97 { 
	width:697px;
	height:536px;
	position:absolute;
	left:364px;
	top:529px;
	background-image:url(images/image_plan_port_vauban.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e97_5 { 
	width:551px;
	height:245px;
	position:absolute;
	left:826px;
	top:204px;
}.e29_84 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:204px;
}.e29_92 { 
	transform: rotate(180deg);
	width:21px;
	height:21px;
	position:absolute;
	left:525px;
	top:8px;
}.e29_93 { 
	width:21px;
	height:18.375px;
	position:absolute;
	left:-2.1098763625104766e-7px;
	top:1.3125px;
}.e29_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:7.875000953674316px;
	position:absolute;
	left:-3.552713678800501e-15px;
	top:10.5px;
}.e29_95 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.494572639465332px;
	height:13.124998092651367px;
	position:absolute;
	left:5.252713680267334px;
	top:0px;
}.e29_85 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e29_87 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:309px;
	height:26px;
	position:absolute;
	left:18px;
	top:8px;
	font-family:Belleza;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e29_86 { 
	background-color:rgba(255, 255, 255, 0.5799999833106995);
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:23px;
}.e29_100 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:133px;
}.e29_104 { 
	transform: rotate(180deg);
	width:21px;
	height:21px;
	position:absolute;
	left:525px;
	top:8px;
}.e29_105 { 
	width:21px;
	height:18.375px;
	position:absolute;
	left:-2.1098763625104766e-7px;
	top:1.3125px;
}.e29_106 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:7.875000953674316px;
	position:absolute;
	left:-3.552713678800501e-15px;
	top:10.5px;
}.e29_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.494572639465332px;
	height:13.124998092651367px;
	position:absolute;
	left:5.252713680267334px;
	top:0px;
}.e29_101 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e29_103 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:309px;
	height:26px;
	position:absolute;
	left:18px;
	top:8px;
	font-family:Belleza;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e29_102 { 
	background-color:rgba(255, 255, 255, 0.5799999833106995);
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:23px;
}.e27_52 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:68px;
}.e27_60 { 
	transform: rotate(180deg);
	width:21px;
	height:21px;
	position:absolute;
	left:525px;
	top:8px;
}.e27_61 { 
	width:21px;
	height:18.375px;
	position:absolute;
	left:-2.1098763625104766e-7px;
	top:1.3125px;
}.e27_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:7.875000953674316px;
	position:absolute;
	left:-3.552713678800501e-15px;
	top:10.5px;
}.e27_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.494572639465332px;
	height:13.124998092651367px;
	position:absolute;
	left:5.252713680267334px;
	top:0px;
}.e27_53 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e27_55 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:309px;
	height:26px;
	position:absolute;
	left:18px;
	top:8px;
	font-family:Belleza;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e27_54 { 
	background-color:rgba(255, 255, 255, 0.5799999833106995);
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:23px;
}.e27_51 { 
	width:550px;
	height:41px;
	position:absolute;
	left:1px;
	top:0px;
}.e27_44 { 
	transform: rotate(180deg);
	width:21px;
	height:21px;
	position:absolute;
	left:525px;
	top:8px;
}.e27_45 { 
	width:21px;
	height:18.375px;
	position:absolute;
	left:-2.1098763625104766e-7px;
	top:1.3125px;
}.e27_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:7.875000953674316px;
	position:absolute;
	left:-3.552713678800501e-15px;
	top:10.5px;
}.e27_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.494572639465332px;
	height:13.124998092651367px;
	position:absolute;
	left:5.252713680267334px;
	top:0px;
}.e27_33 { 
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e27_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:309px;
	height:26px;
	position:absolute;
	left:18px;
	top:8px;
	font-family:Belleza;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e27_31 { 
	background-color:rgba(255, 255, 255, 0.5799999833106995);
	width:550px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:23px;
}.e27_5 { 
	color:rgba(255, 255, 255, 1);
	width:541px;
	height:203px;
	position:absolute;
	left:56px;
	top:225px;
	font-family:Belleza;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e27_2 { 
	color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:442px;
	height:63px;
	position:absolute;
	left:500px;
	top:60px;
	font-family:Belleza;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}.e97_4 { 
	width:1438px;
	height:504px;
	position:absolute;
	left:3px;
	top:3865px;
}.e22_158 { 
	background-image:linear-gradient(0deg, rgba(238.35415720939636, 156.74107253551483, 54.95385579764843, 1) 0%,rgba(182.38186866044998, 107.23866641521454, 228.43747973442078, 0.9399999976158142) 100%) ;
	width:33px;
	height:195px;
	position:absolute;
	left:1405px;
	top:165px;
}.22_158 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e22_138 { 
	background-image:linear-gradient(0deg, rgba(200.4582890868187, 235.36499440670013, 255, 1) 10.41666641831398%,rgba(168.93749088048935, 129.51874047517776, 112.62499138712883, 1) 45.3125%,rgba(29.59505394101143, 65.36277025938034, 67.64583975076675, 0.8600000143051147) 100%) ;
	width:308px;
	height:222px;
	position:absolute;
	left:565px;
	top:153px;
}.22_138 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e22_157 { 
	background-image:linear-gradient(0deg, rgba(79.33329060673714, 160.14000535011292, 255, 1) 0%,rgba(157.60415822267532, 144.97831732034683, 112.51184865832329, 0.8500000238418579) 63.54166865348816%,rgba(42.36816354095936, 56.088452115654945, 125.02083823084831, 1) 100%) ;
	width:266px;
	height:195px;
	position:absolute;
	left:1139px;
	top:166px;
}.22_157 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e22_153 { 
	background-image:linear-gradient(0deg, rgba(240.47915518283844, 110.01917481422424, 54.10781219601631, 1) 0%,rgba(29.451208859682083, 25.647557862102985, 58.43748226761818, 0.9399999976158142) 100%) ;
	width:266px;
	height:195px;
	position:absolute;
	left:873px;
	top:166px;
}.22_153 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.22_154 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e22_154 { 
	width:271px;
	height:195px;
	position:absolute;
	left:294px;
	top:163px;
}.e22_163 { 
	width:179px;
	height:101px;
	position:absolute;
	left:630px;
	top:274px;
	background-image:url(images/ic_ne_360.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e22_150 { 
	width:546px;
	height:367px;
	position:absolute;
	left:458px;
	top:137px;
	background-image:url(images/ipad___mains.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e22_156 { 
	background-image:linear-gradient(0deg, rgba(139.0650138258934, 233.395833671093, 227.73600697517395, 1) 0%,rgba(51.51402197778225, 103.46461772918701, 125.72915822267532, 0.8299999833106995) 100%) ;
	width:271px;
	height:195px;
	position:absolute;
	left:23px;
	top:163px;
}.22_156 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e22_159 { 
	background-image:linear-gradient(0deg, rgba(77.25649684667587, 101.67212471365929, 229.85416531562805, 1) 0%,rgba(45.62353625893593, 67.80962616205215, 93.85415822267532, 1) 100%) ;
	width:23px;
	height:195px;
	position:absolute;
	left:0px;
	top:163px;
}.22_159 { 
	border:1px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e26_2 { 
	color:rgba(0, 0, 0, 1);
	width:502px;
	height:66px;
	position:absolute;
	left:468px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:57px;
	letter-spacing:0;
}.e62_23 { 
	width:1120px;
	height:652px;
	position:absolute;
	left:162px;
	top:3109px;
}.e1_16 { 
	background-color:rgba(0, 0, 0, 1);
	width:1120px;
	height:360px;
	position:absolute;
	left:0px;
	top:292px;
}.e27_83 { 
	width:292px;
	height:149px;
	position:absolute;
	left:414px;
	top:397px;
}.22_126 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e22_126 { 
	width:149px;
	height:149px;
	position:absolute;
	left:0px;
	top:0.000091552734375px;
}.e22_127 { 
	background-color:rgba(255, 255, 255, 1);
	width:148.9997100830078px;
	height:104.30001068115234px;
	position:absolute;
	left:3.101685575046531e-15px;
	top:22.350000381469727px;
}.e27_80 { 
	width:136px;
	height:124.71199798583984px;
	position:absolute;
	left:156px;
	top:13px;
}.e27_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.858497619628906px;
	height:15.105737686157227px;
	position:absolute;
	left:82.22050476074219px;
	top:46.24477005004883px;
}.e27_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:136px;
	height:93.53400421142578px;
	position:absolute;
	left:0px;
	top:15.58899974822998px;
}.e18_125 { 
	color:rgba(0, 0, 0, 1);
	width:1120px;
	height:124px;
	position:absolute;
	left:0px;
	top:98px;
	font-family:Belleza;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_124 { 
	color:rgba(0, 0, 0, 1);
	width:507px;
	height:66px;
	position:absolute;
	left:306px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:57px;
	letter-spacing:0;
}.e62_18 { 
	width:1122px;
	height:531px;
	position:absolute;
	left:149px;
	top:1751px;
}.e18_109 { 
	width:91px;
	height:91px;
	position:absolute;
	left:516px;
	top:440px;
}.e18_111 { 
	background-color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:54.03125px;
	height:8.531250953674316px;
	position:absolute;
	left:18.484373092651367px;
	top:41.234375px;
}.18_104 { 
	border:0px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e18_104 { 
	width:69px;
	height:69px;
	position:absolute;
	left:1053px;
	top:264px;
}.e18_105 { 
	background-color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:25.875px;
	height:43.125px;
	position:absolute;
	left:21.5625px;
	top:12.9375px;
}.e1_9 { 
	width:455px;
	height:282px;
	position:absolute;
	left:571px;
	top:158px;
	background-image:url(images/image_actualit__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_8 { 
	width:455px;
	height:282px;
	position:absolute;
	left:96px;
	top:158px;
	background-image:url(images/image_actualit__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_106 { 
	transform: rotate(-180deg);
	width:69px;
	height:69px;
	position:absolute;
	left:69px;
	top:333px;
}.18_106 { 
	border:0px solid rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
}.e18_107 { 
	background-color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:25.875px;
	height:43.125px;
	position:absolute;
	left:21.5625px;
	top:12.9375px;
}.e18_101 { 
	color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:302px;
	height:63px;
	position:absolute;
	left:420px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}.e62_5 { 
	width:1441px;
	height:591px;
	position:absolute;
	left:-1px;
	top:1031px;
}.e1_5 { 
	background-color:rgba(21.000000648200512, 86.00000247359276, 128.0000075697899, 1);
	width:1441px;
	height:591px;
	position:absolute;
	left:0px;
	top:0px;
}.e62_17 { 
	width:550px;
	height:454px;
	position:absolute;
	left:760px;
	top:76px;
}.e16_97 { 
	color:rgba(255, 255, 255, 1);
	width:550px;
	height:366px;
	position:absolute;
	left:0px;
	top:88px;
	font-family:Belleza;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e16_98 { 
	color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:550px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e15_91 { 
	width:550px;
	height:454px;
	position:absolute;
	left:76px;
	top:76px;
	background-image:url(images/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_2 { 
	width:1440px;
	height:931.2174682617188px;
	position:absolute;
	left:-1px;
	top:-48.21746826171875px;
}.e1_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1492px;
	height:764px;
	position:absolute;
	left:-57px;
	top:48.21746826171875px;
	background-image:url(images/image_port_vauban_backgroud__header_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e8_32 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.20000000298023224;
	width:1439px;
	height:811.574951171875px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_99 { 
	width:800px;
	height:187.43992614746094px;
	position:absolute;
	left:308px;
	top:743.7775268554688px;
}.e62_9 { 
	width:136px;
	height:187.43994140625px;
	position:absolute;
	left:664px;
	top:0px;
}.e10_41 { 
	border-radius:500px;
	background-color:rgba(22.000000588595867, 158.00000578165054, 200.00000327825546, 1);
	width:136px;
	height:135.59483337402344px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_83 { 
	width:84px;
	height:83.74974822998047px;
	position:absolute;
	left:26px;
	top:21.934478759765625px;
}.e11_84 { 
	background-color:rgba(255, 255, 255, 1);
	width:75.5999984741211px;
	height:83.74974822998047px;
	position:absolute;
	left:4.200000286102295px;
	top:0px;
}.e14_90 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:22.931480407714844px;
	position:absolute;
	left:17px;
	top:164.5084686279297px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e62_16 { 
	width:136px;
	height:187.43994140625px;
	position:absolute;
	left:448px;
	top:0px;
}.e10_40 { 
	border-radius:500px;
	background-color:rgba(231.00000143051147, 62.00000010430813, 56.000000461936, 1);
	width:136px;
	height:135.59483337402344px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:90.02313995361328px;
	height:66.09455108642578px;
	position:absolute;
	left:22.9945068359375px;
	top:34.80082702636719px;
}.e14_89 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:22.931480407714844px;
	position:absolute;
	left:18px;
	top:164.5084686279297px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e62_13 { 
	width:136px;
	height:187.43994140625px;
	position:absolute;
	left:232px;
	top:0px;
}.e10_39 { 
	border-radius:500px;
	background-color:rgba(255, 159.0000057220459, 24.000000469386578, 1);
	width:136px;
	height:135.59483337402344px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:94px;
	height:65.42949676513672px;
	position:absolute;
	left:21px;
	top:40.254737854003906px;
}.e13_88 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:22.931480407714844px;
	position:absolute;
	left:30px;
	top:164.5084686279297px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e11_49 { 
	width:179px;
	height:187.43994140625px;
	position:absolute;
	left:0px;
	top:0px;
}.e10_38 { 
	border-radius:500px;
	background-color:rgba(9.000000413507223, 100.00000163912773, 189.00000393390656, 1);
	width:136px;
	height:135.59483337402344px;
	position:absolute;
	left:16px;
	top:0px;
}.e10_43 { 
	width:90px;
	height:89.73188018798828px;
	position:absolute;
	left:39px;
	top:22.931501388549805px;
}.e10_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:78.75239562988281px;
	height:68.64839172363281px;
	position:absolute;
	left:5.6252851486206055px;
	top:4.20618200302124px;
}.e10_45 { 
	background-color:rgba(255, 255, 255, 1);
	width:64.6664047241211px;
	height:11.218239784240723px;
	position:absolute;
	left:12.652734756469727px;
	top:71.329833984375px;
}.e12_87 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:22.931480407714844px;
	position:absolute;
	left:0px;
	top:164.5084686279297px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}.e3_52 { 
	background-image:linear-gradient(0deg, rgba(21.000000648200512, 86.00000247359276, 128.0000075697899, 1) 0%,rgba(21.000000648200512, 86.00000247359276, 128.0000075697899, 0) 100%) ;
	width:1439px;
	height:765px;
	position:absolute;
	left:0px;
	top:46.21746826171875px;
}.e38_210 { 
	width:833px;
	height:224.3892822265625px;
	position:absolute;
	left:299px;
	top:345.21746826171875px;
}.e10_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:813px;
	height:204.3892822265625px;
	position:absolute;
	left:10px;
	top:10px;
}.e9_34 { 
	color:rgba(255, 255, 255, 1);
	width:237px;
	height:40px;
	position:absolute;
	left:288px;
	top:-12.30535888671875px;
	font-family:Belleza;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e7_31 { 
	color:rgba(255, 255, 255, 1);
	width:813px;
	height:79px;
	position:absolute;
	left:0px;
	top:59.69464111328125px;
	font-family:Belleza;
	text-align:left;
	font-size:69px;
	letter-spacing:0;
}.e9_35 { 
	color:rgba(255, 255, 255, 1);
	width:805px;
	height:46px;
	position:absolute;
	left:4px;
	top:170.69464111328125px;
	font-family:Belleza;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_99 { 
	width:1300px;
	height:318px;
	position:absolute;
	left:61px;
	top:5.21746826171875px;
}.e4_3 { 
	width:335px;
	height:318px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/logo_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e15_92 { 
	width:301px;
	height:56px;
	position:absolute;
	left:999px;
	top:131px;
}.e7_28 { 
	width:281px;
	height:36px;
	position:absolute;
	left:10px;
	top:10px;
}.e4_10 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:181px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e4_8 { 
	width:28px;
	height:28px;
	position:absolute;
	left:4px;
	top:4px;
}.e4_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.999780654907227px;
	height:20.999780654907227px;
	position:absolute;
	left:3.5px;
	top:3.5px;
}.e7_17 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:35px;
	height:36px;
	position:absolute;
	left:196px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e7_18 { 
	color:rgba(255, 255, 255, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:5px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e7_22 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:35px;
	height:35px;
	position:absolute;
	left:246px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e7_23 { 
	width:27px;
	height:27px;
	position:absolute;
	left:4px;
	top:4px;
}.e7_24 { 
	width:18px;
	height:19.125px;
	position:absolute;
	left:4.5px;
	top:3.9375px;
}.e7_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:4.5px;
	top:4.440892098500626e-16px;
}.e7_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:9px;
	position:absolute;
	left:0px;
	top:10.125px;
}.e3_53 { 
	width:658px;
	height:23px;
	position:absolute;
	left:314px;
	top:226px;
}.e2_42 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e2_41 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:23px;
	position:absolute;
	left:116px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e2_45 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:23px;
	position:absolute;
	left:267px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e2_44 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:23px;
	position:absolute;
	left:370px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e2_47 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:23px;
	position:absolute;
	left:572px;
	top:0px;
	font-family:Belleza;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e100_7 { 
	background-color:rgba(27.000000290572643, 113.00000086426735, 138.00000697374344, 1);
	width:1443px;
	height:591px;
	position:absolute;
	left:-1px;
	top:2400px;
}.e100_8 { 
	color:rgba(213.00000250339508, 196.00000351667404, 183.00000429153442, 1);
	width:169px;
	height:63px;
	position:absolute;
	left:637px;
	top:2450px;
	font-family:Belleza;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}.e100_9 { 
	width:265px;
	height:259px;
	position:absolute;
	left:160px;
	top:2566px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e100_10 { 
	width:265px;
	height:259px;
	position:absolute;
	left:445px;
	top:2566px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e100_11 { 
	width:265px;
	height:259px;
	position:absolute;
	left:730px;
	top:2566px;
	background-image:url(images/rectangle_32.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e100_12 { 
	width:265px;
	height:259px;
	position:absolute;
	left:1015px;
	top:2566px;
	background-image:url(images/rectangle_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e100_13 { 
	width:111px;
	height:96px;
	position:absolute;
	left:664px;
	top:2943px;
}.e100_14 { 
	background-color:rgba(27.000000290572643, 113.00000086426735, 138.00000697374344, 1);
	width:111px;
	height:96px;
	position:absolute;
	left:0px;
	top:96px;
	border-radius:9px;
}.e100_15 { 
	width:24px;
	height:24px;
	position:absolute;
	left:43px;
	top:48px;
}.100_16 { 
	border:1.5px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}.e100_16 { 
	width:12px;
	height:6px;
	position:absolute;
	left:6px;
	top:9px;
}.e100_18 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:48px;
	position:absolute;
	left:163px;
	top:2851px;
	font-family:Belleza;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e100_22 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:48px;
	position:absolute;
	left:452px;
	top:2851px;
	font-family:Belleza;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e100_24 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:48px;
	position:absolute;
	left:1022px;
	top:2851px;
	font-family:Belleza;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e100_23 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:48px;
	position:absolute;
	left:737px;
	top:2851px;
	font-family:Belleza;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}